*{
    padding: 0;
    margin: 0;
}
.project{
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    height: 40px;
    align-items: center;
    
}
a{
    text-decoration: none;
    color: antiquewhite;
}
a:hover{
    color: red;
}
h2{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    color: blue;
}
.content{
    display: flex;
    gap: 20px;
    justify-content: center; 
}
.card{
    background-color: rgb(71, 92, 92);
    height: 400px;
    width: 30%;
    margin-top: 20PX;
}
img{
    width: 300px;
    margin-top: 10px;
    margin-left: 55px;
}
.h{
    color: aliceblue;
    margin-left: 65px;
    margin-top: 10px;
}
.h1{
    color: aliceblue;
    margin-left: 90px;
    margin-top: 5px;
}
.xa{
    height: 300px;
}